* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------------- */
/* ----                  Header                    ---- */
/* ---------------------------------------------------- */

.header {
    background-color: black;
}
.hieronymus {
    background-image: url("/adamskiPortfolio/assets/images/HieronyMS.png");
    background-repeat: repeat-x;
    height: max-content;
    background-size: auto;
}

/* ---------------------------------------------------- */
/* ----    Image Background with Elements on Top   ---- */
/* ---------------------------------------------------- */

/* This code referenced W3 schools. I am not sure how much I can lift, if what I want to do is essentially the same as displayed here. Changed where necessary */
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: red;
    font-size: 10rem;
    font-weight: bolder;
}

/* Bottom left text */
.bLeft {
    position: absolute;
    bottom: 50px;
    left: 1opx;
    color: aliceblue;
    font-weight: lighter;
}

/* Top left text */
.tLeft {
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Top right text */
.tRight {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Bottom right text */
/* .bRight {
    position: absolute;
    bottom: 50px;
    right: 10px;
} */
